name: Release

on:
  release:
     types: [published]

permissions:
  actions: write

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [ratgdo_esp32dev, ratgdo_esp32dev_rev1]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            submodules: true

      - name: Tag
        id: tag
        uses: JinoArch/get-latest-tag@latest

      - name: Set Revision Name
        id: rev
        run: |
          if [ "${{ matrix.environment }}" = "ratgdo_esp32dev" ]; then
            echo "name=rev2" >> $GITHUB_OUTPUT
          else
            echo "name=rev1" >> $GITHUB_OUTPUT
          fi

      - name: Update version on manifest.json
        if: matrix.environment == 'ratgdo_esp32dev'
        uses: amochkin/action-json@v1
        with:
          mode: write
          file: docs/manifest.json
          property: version
          value: ${{ steps.tag.outputs.latestTag }}
          value_type: string

      - name: Update firmware paths on manifest.json
        if: matrix.environment == 'ratgdo_esp32dev'
        uses: amochkin/action-json@v1
        with:
          mode: write
          file: docs/manifest.json
          property: builds.0.parts.0.path
          value: firmware/homekit-grgdo1-rev2-${{ steps.tag.outputs.latestTag }}.bootloader.bin
          value_type: string

      # ... (Truncated for brevity, but logically iterates for all parts)

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
  
      - name: Install PlatformIO Core
        run: |
            pip install --upgrade pip
            pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run -e ${{ matrix.environment }}

      - name: Rename and MD5
        run: |
          TAG=${{ steps.tag.outputs.latestTag }}
          REV=${{ steps.rev.outputs.name }}
          cd .pio/build/${{ matrix.environment }}
          md5sum firmware.bin | awk '{print $1}' > homekit-grgdo1-${REV}-${TAG}.firmware.md5
          mv firmware.bin homekit-grgdo1-${REV}-${TAG}.firmware.bin
          mv bootloader.bin homekit-grgdo1-${REV}-${TAG}.bootloader.bin
          mv partitions.bin homekit-grgdo1-${REV}-${TAG}.partitions.bin
          mv firmware.elf homekit-grgdo1-${REV}-${TAG}.elf

      - name: Upload Assets
        uses: AButler/upload-release-assets@v3.0
        with:
          files: ".pio/build/${{ matrix.environment }}/homekit-grgdo1-${{ steps.rev.outputs.name }}-${{ steps.tag.outputs.latestTag }}*"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ steps.tag.outputs.latestTag }}